<div class="span4 sidebar">
  <div>
    <h4>Dan Midwood.</h4>
    <h6>Developer, tinker, traveler, runner, reader.</h6>
    <p>I left the UK and I'm traveling the world. I'm currently in: <span class="currentLocation">Buenos Aires, Argentina</span></p>
    <div><h6>You can find me on the internet:</h6>
      <ul class="authorlinks">
        <li>
          {% include twitter.html %}
        </li>
        <li>
          {% include facebook.html %}
        </li>
        <li>
          {% include skype.html %}
        </li>
        <li>
          {% include github.html %}
        </li>
        <li>
          {% include npmjs.html %}
        </li>
        <li>
          {% include stackoverflow.html %}
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h4>Hire me</h4>
    <p>I'm available now on a freelance basis with Clojure, Scala, or almost any interesting other thing, find out more and contact me via my <a href="//resume.danmidwood.com">résumé</a> page.</p>
    <p>View my:
      <ul>
        <li><a href="//resume.danmidwood.com">Resume</a></li>
        <li><a href="//portfolio.danmidwood.com">Portfolio</a></li>
      </ul>
    </p>
  </div>

</div>
