<div class="span4 sidebar">
  <div>
    <h4>Dan Midwood.</h4>
    <h6>Developer, tinker, traveler, runner, reader.</h6>
    <p>I left my home in the UK to travel the world.</p>
    <p>And now I'm in South America, picking up work, learning Spanish and enjoying the sunshine.</p>
    <div><h6>You can find me on the internet:</h6>
      <ul class="authorlinks">
        <li>
          {% include twitter.html %}
        </li>
        <li>
          {% include facebook.html %}
        </li>
        <li>
          {% include skype.html %}
        </li>
        <li>
          {% include github.html %}
        </li>
        <li>
          {% include npmjs.html %}
        </li>
        <li>
          {% include stackoverflow.html %}
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h4>Hire me</h4>
    <p>I'm available for freelance work.</p>
    <p>View my:
      <ul>
        <li><a href="//portfolio.danmidwood.com">Portfolio</a></li>
        <li><a href="//resume.danmidwood.com">Resume</a></li>
      </ul>
    </p>
  </div>

</div>
